
/*New style*/

body {
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.container-fluid {
    padding: 0px 0px 0px 0px;
}

section {
    margin: 0;
    padding: 0;
}

article {
    padding: 0 1rem 60vh;
    margin: 0 auto;
    /*max-width: 40rem;*/
}


article p {
    background-color: #FFF8DB;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    line-height: 1.8;
    margin: 0;
    padding: 2rem;
    text-transform: uppercase;
}
article img:not(:last-of-type) {
    margin-bottom: 60vh;
}
img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
figure {
    align-items: center;
    align-self: flex-start;
    display: flex;
    height: 100vh;
    margin: 0;
    width: 100%;
    justify-content: center;
    top: 0;
    z-index: -1;
}


@media screen and (min-width: 35rem) {
    figure {
        position: sticky;
    }
}


.center{
    align-content: center;
}

.stacked-padding{
    padding-top: 30px;
    padding-bottom: 30px ;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.arc{
}

.area{
}

.control-button{

}

.landing{
    background-image: url("../images/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.title-text{


    font-family: 'Share Tech Mono', monospace;
    font-size: 120px;
    font-weight: bolder;
    color: #E46243;
}



.add-drop-shadow {
    box-shadow: 0px 2px 24px rgba(255, 255, 255, 0.5);
    /*box-shadow: 10px 50px 100px rgba(255, 255, 255, 0.12);*/

}

.team{
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: darkgray;
}


.subtitle{

    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: #FFF8DB;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.add-outline {
    /*box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.87);*/
    background: rgba(0,0,0,0.15);

    /*outline: 1px solid rgba(255,255,255,0.05);*/
}

.add-top-margin{
    margin-top: 50px;
}

.tick.text{
    fill: none;
}


.button{
    width: 150px;
    font-size: 24px;
    color: white;
    background: transparent;
}
.button1{
    border-radius: 20px;
}

.custom-select{
    width: 200px;
    font-size: 20px;
    color: white;
    background: transparent;
}