body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}
b {
  font-weight: 900;
}

.outline {
  fill: none;
  stroke: #888888;
  stroke-width: 1px;
}

#tooltip {
  font-size: 10pt;
  font-weight: 900;

  fill: #000000;
  stroke: #ffffff;
  stroke-width: 0.25px;
}

.node {
  stroke: #ffffff;
}

.arc {
  fill: none;
  stroke: #888888;
  stroke-width: 2px;
  stroke-opacity: 0.5;
  /* stroke-dasharray: 5; */
}

.highlight {
  stroke: red;
  stroke-opacity: 1;
}

.nodeName {
  stroke: black;
}

.node:hover {
  fill: orangered;
}

<<<<<<< HEAD
.infoChart {
  fill: none;
  stroke: royalblue;
  stroke-width: 2px;
}

.infoDesc {
  stroke: black;
=======
.line-plot {
    fill: none;
    stroke-width: 1.5px;
    stroke: #333;
}

.company-label {
  text-anchor: middle;
  font-size: 20px;
  font-weight: semibold;
  opacity: 0.8;
}

.axis-label {
  text-anchor: middle;
  font-size: 12px;
  font-weight: semibold;
}

.grid path,
.grid line {
  stroke: #fff;
}

.background {
  fill: #eee;
}

/*body {
  font-family: "Open Sans";
  margin: 0;
}*/

#main {
  margin: 20px;
>>>>>>> f0662066bbe68f27d165aaf9eb4c99d1195f662d
}