variable {
  --main-text-color: #768E8B;
  --click-color: #E46243;
}

body {
  /*font-family: Arial, sans-serif;*/
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  background-color: #131325;
  stroke: #ffffff;
}
b {
  font-weight: 900;
}

.nodeName {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

.total_title {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  fill: #FFEDBF;
  stroke: #FFEDBF;
}

.trellisAxis line{
  stroke: white;
}

.trellisAxis path{
  stroke: white;
}
.trellisAxis text{
  fill: white;
}

.legend {
  stroke: #FFEDBF;
  fill: #FFEDBF;
  stroke-width: 1px;
  font-size: 25px;
  text-transform: uppercase;
}

.trellis_legend {
  stroke: #FFEDBF;
  fill: #FFEDBF;
  stroke-width: 1px;
  font-size: 25px;
  text-transform: uppercase;
}


.outline {
  fill: none;
  stroke: #888888;
  stroke-width: 1px;
}

#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: #ffffff;
  stroke-width: 0.25px;
}

.mainBox{
  /* background: #333; */
}

.node {
  stroke: #ffffff;
  z-index: 2;
  fill: white;
  text-transform: uppercase;
}

.asteroid {
  opacity: 0.4;
  /* fill: none; */
}

.nodeHover {
  fill: #D05C3F !important;
}

.arcHover {
  stroke: white !important;
  stroke-width: 4px !important;
}

.arc {
  fill: none;
  stroke: #9694ad;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}

.highlight {
  stroke: #D05C3F;
  stroke-opacity: 1;
  stroke-width: 1px;
}

.d3-tip {
  color: white;
}

.clicked {
  fill: #E46243 !important;
  stroke: #E46243 !important;
}

.infoChart {
  fill: white;
  /* stroke-width: 2px; */
  font-size: 20px;
  font-weight: lighter;
}

.infoDesc {
  stroke: #ffffff;
}

.line-plot {
    fill: none;
    stroke-width: 1.5px;
    stroke: #333;
}

.company-label {
  text-anchor: middle;
  font-size: 20px;
  font-weight: semibold;
  opacity: 0.8;
  text-transform: uppercase;
  fill: #FFEDBF;
  stroke: none;
}

.stackedChartName {
  text-anchor: middle;
  font-size: 20px;
  font-weight: semibold;
  opacity: 0.8;
  text-transform: uppercase;
}

.axis-label {
  text-anchor: middle;
  font-size: 12px;
  font-weight: semibold;
}

.axis path{
  stroke: white !important;
}

.grid path,
.grid line {
  stroke: #fff;
}

.background {
  fill: #000;
}

.trellisRect {
  stroke: black;
}

.stackedArea {
  margin-right: 30px;
  fill: white;
}

.layer {
  stroke: none;
}

#main {
  margin: 20px;
}

.clickable {
  cursor: pointer;
}

.legendCells {
  stroke: none;
}

#failed {
  stroke-dasharray: 5;
}

.trellisMouseOver {
  fill: #E46243;
  stroke: #E46243;
  border-radius: 200%;
}

.selectedTrellis {
  fill: #E46243;
  stroke: #E46243;
}


#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.tick {
  stroke: #FFEDBF;
  font-size: 13px;
}