html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;

    color: black;
}

html {
    background-image:url(../images/image1.png);
}

html.scrolled1 {
    background-image:url(../images/sputni1.png);
}

html.scrolled2 {
    background-image:url(../images/sputnik2.png);
}

html.scrolled3{
    background-image:url(../images/sputnik2.png);
}

html.scrolled4{
    background-image:url(../images/sputnik2.png);

}

html.scrolled5{
    background-image:url(../images/sputnik2.png);

}

html.scrolled6{
    background-image:url(../images/sputnik2.png);
}

html.scrolled7{

    background-image: url("../images/apollo8.png");
}

html.scrolled8{

    background-image: url("../images/apollo8.png");

}

html.scrolled9{
    background-image: url("../images/apollo8.png");

}

html.scrolled10{
    background-image: url("../images/apollo11.png");

}



.my-container{

    height: 900px;
    width: 100%;

}

.project-title{

    text-align: center;
    margin-top: 300px;
    font-size:80px;
    color: orangered;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.subtitle{
    text-align: center;
    font-size: 20px;
    color: #FFF8DB;
}

.team{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: grey;
}


article {

    padding-left: 100px;
    padding-top: 0px;
    /*margin: 0 auto;*/
    max-width: 500px;
}


article p {
    background-color: #FFF8DB;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    line-height: 1.8;
    margin: 0;
    padding: 2rem;
    text-transform: uppercase;
}


/*article p:not(:last-of-type) {*/
    /*margin-bottom: 60vh;*/
/*}*/